.wrapper {
  width: 800px;
  margin: 0 auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.main_info {
  border: 1px solid #eaebed;
  border-radius: 12px;
  padding: 1px 12px;
  .dop_info {
    p:first-child {
      font: 800 16px Verdana;
    }
    display: flex;
    align-items: center;
    gap:10px
  }
}
.city{
    display: flex;
    
}
.city div::before{
    content: url(./assets/location.png);
    align-items: center;
}
.descript {
  border: 1px solid #eaebed;
  border-radius: 12px;
  padding: 5px 12px;
}
